.gradle
.gradletasknamecache
build

/.idea/*
/.idea/discord.xml
/.idea/gradle.xml
/.idea/misc.xml
/src/test/*
.project
.classpath

hs_err_pid*
replay_pid*

*.jar
!gradle-wrapper.jar
*.zip
*.tar.gz
*.log
*.class